<div class="about_main">
	<div class="about_main_text">
		<p>The JS Resource is an Angular project I created to help me keep track of the never ending stream of news and tutorials of this JavaScript framework craze over the last couple years.</p>

		<p>These links are primarily tutorials, best practices and optimization code snippets. I've tried my best to include the most useful links from each framework.</p>

		<p>This is a never ending project, which means I'm always updating and adding to it. If you come across any good links on <em>any</em> JavaScript framework <a href="mailto:clfshr@gmail.com?subject=Add This Great JS Link!">send it over</a> and I'll add it up.</p> 

		<p>Thanks for stopping by and happy JS learning.</p>		
	</div>
</div>